.git
.github
.idea
.vscode
.devcontainer

node_modules
build
.svelte-kit
coverage
test-results

.env
.env.*
!.env.example
!.env.test

Thumbs.db
.DS_Store
*.log

Dockerfile
.dockerignore
docker-compose.yml
